.hero-unit.home

  %h1
    %img{:src => @user.avatar_url}
    %span= @user.username
  - if @user.provider == 'github'
    %p
      %a{ :href => "https://github.com/#{@user.username}"}
        == See #{@user.username}'s GitHub profile

  - if @user.provider == 'twitter'
    %p
      %a{ :href => "https://twitter.com/#{@user.username}"}
        == See #{@user.username}'s Twitter profile

%h2 Answered puzzles:
- @user.guesses.solved.each do |guess|
  %h3
    %a{ :href => puzzle_path(guess.puzzle)}
      = guess.puzzle.name

- if current_user.staff?
  %h2 History
  %table.history
    %tr
      %th.date Date
      %th.action Action
      %th.params Details
    - @history.each do |hist|
      - data = JSON.parse(hist.data)
      %tr
        %td.date= hist.created_at
        %td.action
          = "#{data['controller']}##{data['action']}"
        %td.params
          %a.reveal{href: '#'} Show details
          %pre.details= JSON.pretty_generate(data)
  - if last_history_id = @history.last.try(:id)
    %a{ href: "?last_history_id=#{last_history_id}" } Next page

