- if current_user.staff?
  %h2 History
  - if last_history_id = @histories.last.try(:id)
    .paging
      %a.btn{ href: "?last_history_id=#{last_history_id}" } Next page
  %table.history
    %tr
      %th.date Date
      %th.date User
      %th.action Action
      %th.params Details
    - @histories.each do |hist|
      - data = JSON.parse(hist.data)
      %tr
        %td.date= hist.created_at
        %td.date
          %a{ href: user_path(hist.user) }= hist.user.username
        %td.action
          = "#{data['controller']}##{data['action']}"
        %td.params
          %a.reveal{href: '#'} Show details
          %pre.details= JSON.pretty_generate(data)
  - if last_history_id = @histories.last.try(:id)
    .paging
      %a.btn{ href: "?last_history_id=#{last_history_id}" } Next page

