%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li
    %a{:href => "/puzzles"} Riddles
    %span.divider /
  %li.active
    %a{:href => "/puzzles/#{@puzzle.id}"}= @puzzle.name

.puzzle
  %h1= @puzzle.name
  - if @puzzle.guesses.solved.count > 0
    .solved
      Solved by:
      = raw @puzzle.guesses.solved.reject { |guess| guess.team.staff? }.collect { |guess| link_to(guess.team.name, team_path(guess.team)) }.join(', ')
  .content= markdown @puzzle.content
  - if current_user.staff?
    = link_to 'Edit', edit_puzzle_path(@puzzle), :class => 'btn'
    = link_to 'Destroy', @puzzle, confirm: 'Are you sure?', method: :delete, :class => 'btn'

  .answer
    - guess_count = current_user.team ? current_user.team.guess_count_for_puzzle(@puzzle) : 0
    - guessed = current_user.team ? current_user.team.guessed?(@puzzle) : false
    - if guessed
      .hero-unit
        %h1
          %span.green &#10003;
          You got it!
        %p
          Your team gave a correct answer after
          = guess_count
          = guess_count == 1 ? "guess" : "guesses"
    - else

      = form_tag("/puzzles/#{@puzzle.id}/take_a_guess", :method => :put) do
        %h3
          Enter your answer here:
        - if (count = guess_count) > 0
          %p
            You have tried
            = count
            times so far.
        = text_area_tag :guess

        = submit_tag "Submit answer", :class => 'btn btn-primary'
